@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-end">
@if (SignInManager.IsSignedIn(User))
{
    <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn btn-outline-light me-2">Logout</button>
    </form>
}
else
{

        <a class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Register">Sign-up</a>
}
</div>
